ul li {
  margin-top: 20px;
}

ul li a {
  background-color: gray;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

ul li a:hover {
  background-color: black;
}
