body {

  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  vertical-align: middle;
}

input {
  background: transparent;
  border: none;
  padding-left: 3px;
}

#planner-head {
  padding: 10px;
  font-size: 30px;
  color: black;
  text-align: center;
}

#time-head {
  padding: 2px;
  font-size: 15px;
  color: black;
  text-align: center;
}

.col-md-1, .col-md-2 {
  padding: 0;
}

.col-md-9{
  padding: 0;
  min-width: 100px;
  width: 100%;
}

#formPlanner {
  display: flex;
  
  justify-content: center;
}

#plannerContainer {
  display: flex;
  width: 1000px;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 80px;
} 

.plannerRow {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 10px;
}

.timeBox {
  display: flex;
  flex-direction: row;
  background-color: linen;  
  color: black;
  height:100%;
  width: 100px;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  display: inline-block;
  font-size: 1em;
}

.dailyPlan {
  color: black;  
  font-size: 12pt;
  height:100%;
  width: 100%;
}

.saveIcon {
  display: flex;
  justify-content: center;
  background-image: url('./images/icons8-save-64.png');
  color: linen;
  border-radius: 0px 15px 15px 0px;
  font-size: 1.5em;
  width: 50px;
  height: 100%;
  text-align: center;
}

.wrapper
{ 
  padding: 20px;     
} 
